extends layout

block content
  div#chart_content
    div#y_axis
    div#chart
    div#legend_container
      div#legend
    div#current_ampere __._ A
    div#current_temperature __._ °C
    div#current_humidity __._ %
    div#current_temperature __._ lm